# --------------------
# Build artifacts
# --------------------
build/
builds/
bin/
*.o
*.obj
*.out
*.exe

# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/
dist/

# --------------------
# Dev Containers / IDE
# --------------------
.vscode/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Logs
# --------------------
*.log

# --------------------
# Environment files
# --------------------
.env
.env.local

# --------------------
# Temporary / misc
# --------------------
*.tmp
*.temp
*.swp
*.swo
